# Docker
.env
docker-compose.override.yml

# Logs
*.log
logs/
airflow/logs/

# Data volumes (ne pas commiter les données)
postgres/data/
minio/data/
superset/data/
superset/.cache/
superset/.local/
superset/superset.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*~

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Great Expectations
great_expectations/uncommitted/